<div class="container">
    <div class="row" id="heading-display">
     Education
    </div>
    <div class="row" id="masters-heading">
      Master's in Computer Science
    </div>
    <div class="row" id="masters-description">
        Washington State University<br>
        GPA: 3.6<br>
        Focus Areas: Human Computer Interaction, operating Systems, Distributed Systems.<br>
      </div>
      <div class="row" id="masters-heading">
          Bachelor's in Computer Science
        </div>
        <div class="row" id="masters-description">
            Anna University<br>
            GPA: 3.9<br>
            Focus Areas: Web Development, Operating Systems, Networking and Security.<br>
          </div>
</div>