 #container-header
{
    height: 20%;
    
} 
/* .container
{
    height: 20%;
    margin-top: 2%;
} */

 #mainheader
{
    height:50px;
    width: 95%;
    position: absolute;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    color: black;
    text-align: center;
    vertical-align: middle;
    
} 

#sub-header
{
   
    border-top: none;
    border-left: none;
    border-bottom: none;
    border-right: 0.5px solid white;
    vertical-align: middle;
    line-height: 45px;
    color: white;
    font-family: Trattatello fantasy;
    font-style: italic;
    font-size: 25px;
}
