<div class="container">
  <div class="row" id="project-heading">
    Self Service Portal
  </div>
  <div class="row" id="project-description">
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam vehicula vitae dolor ac aliquam.
        Nam non magna id lacus suscipit vestibulum. Ut sodales urna nulla, at facilisis urna sollicitudin ac.
        Cras suscipit erat sit amet quam ullamcorper placerat. Suspendisse congue malesuada lacinia. 
        Curabitur sit amet efficitur lectus. Cras turpis lorem, tempus at dui vehicula, feugiat hendrerit arcu. 
        Aenean eget eros et leo euismod aliquet id euismod est. Fusce aliquam diam nec quam dictum, at condimentum odio pharetra. 
        Nullam aliquet fermentum dolor, a placerat tellus posuere eu. Phasellus vel arcu turpis. Morbi odio augue, 
        pretium venenatis condimentum sit amet, mollis vel ligula. Nulla auctor enim id sem tincidunt cursus. 
        Pellentesque posuere turpis at tristique mattis. Nullam venenatis lacinia nisi at pharetra. 
        Curabitur vitae enim semper tellus posuere porttitor volutpat at nisi. <br>
        Link: <span style="color:#17A5B8"> <a href="p">vhzvdbviud </a></span></p>
   </div>

    <div class="row" id="image-div" *ngFor="let image of images">       
   
        <a routerLink="#dog"><img src="../../../assets/SSP/{{image}}" class="image1"> </a>
    
     </div>

     <div class="lightbox-target" id="dog">
      <img src="../../../assets/SSP/Home.JPG"/>
      <a class="lightbox-close" href="#"></a>
   </div>

   </div>
