<div class="container">
  <div class="row" id="project-heading">
    Self Service Portal
  </div>
  <div class="row" id="project-description">
      <p>Self Service Portal (SSP) is an Enterprise JEE Web application targeted for Beacon Health Options members. 
      It enables members to view their authorizations, claims, and benefits information.
       Members can also check their limit, accumulated balance amounts, 
       also allows members to update their demographics information, view their deductible 
       and out-of-pocket amounts and appeals information.
        SSP also provides Message Center functionality, using which the members can communicate with 
        Beacon Health Options clinicians in a secure manner. <br>
        Link: <span style="color:#17A5B8"> <a href="https://www.valueoptions.com/ssp">https://www.valueoptions.com/ssp </a></span></p>
   </div>

    <div class="row" id="image-div" *ngFor="let image of images">       
   
        <a routerLink="#dog"><img src="../../../assets/SSP/{{image}}" class="image1"> </a>
    
     </div>

     <div class="lightbox-target" id="dog">
      <img src="../../../assets/SSP/Home.JPG"/>
      <a class="lightbox-close" href="#"></a>
   </div>

   </div>