<!--The content below is only a placeholder and can be replaced.-->

<div class="image">
  <div class="container" id ="container-header">
    <div class="row" id="mainheader">
      <div class="col-sm" id="sub-header">
        <a routerLink="/" style="color:rgba(255,255,255, 0.7)">Home</a>
      </div>
      <div class="col-sm" id="sub-header">
          <a routerLink="/education" style="color:rgba(255,255,255, 0.7)">Education</a>
      </div>
      <div class="col-sm" id="sub-header">
          <a routerLink="/skills" style="color:rgba(255,255,255, 0.7)">Skills</a>
      </div>
      <div class="col-sm" id="sub-header">
          <a routerLink="/experience" style="color:rgba(255,255,255, 0.7)">Experience</a>
      </div>      
      <div class="col-sm" id="sub-header">
          <a routerLink="/projects" style="color:rgba(255,255,255, 0.7)">Projects</a>
      </div>
    </div>
   </div>
     <router-outlet></router-outlet>
</div>