<div class="container">
    <div class="row" id="project-heading">
      Triptage    </div>
    <div class="row" id="project-description">
        <p>Triptage is a platform to help plan, organize and find new trips. Using Triptage, 
          you can post all the trips that you have taken and it offers a collected way to 
          capture every minute details with the stop you made, money you spent, people you were with, 
          and routes you took to travel. One of the main aims of 
          Triptage is to avoid all the false advertisement about places and help 
          users to aggregate the travel experience at one place in a standard manner. <br>
          Link: <span style="color:#17A5B8"> <a href="https://www.triptage.com/ ">https://www.triptage.com/ </a></span></p>
     </div>
    
     <div class="row" id="image-div" *ngFor="let image of images">
      
  <!-- <div > -->
      <img src="../../../assets/Triptage_pics/{{image}}" class="image1">
   <!-- </div> -->
   </div>
     
     </div>


  