<div class="container">
  <ul id='timeline'>
    <li class='entry'>
      <input checked='checked' class='radio' id='trigger5' name='trigger' type='radio'>
      <label for='trigger5'>
        <span>
          Beacon Health Options
        </span>
      </label>
      <span class='date'>XXXXXXXXXXXXX</span>
      <span class='circle'></span>
      <div class='content'>
        <h3>Front-End Developer</h3>
        <p style="line-height: 4px">
          
              <li >XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX.</li>
              <li >XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX.</li>
              <li >XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX.</li>
              <li >XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX.</li>
              <li >XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX.</li>
          
          </p>
        
      </div>
    </li>
    
    <li class='entry'>
      <input class='radio' id='trigger4' name='trigger' type='radio'>
      <label for='trigger4'>
        <span>
          Triptage
        </span>
      </label>
      <span class='date'>XXXXXXXXXXXXXXXXXXXXXXXXXX</span>
      <span class='circle'></span>
      <div class='content'>
        <h3>Application Developer</h3>
        <p style="line-height: 4px">
            < <li >XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX.</li>
              <li >XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX.</li>
              <li >XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX.</li>
              <li >XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX.</li>
              <li >XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX.</li>       
        </p>
      </div>
    </li>
    <li class='entry'>
      <input class='radio' id='trigger3' name='trigger' type='radio'>
      <label for='trigger3'>
        <span>
          Nissan Motors
        </span>
      </label>
      <span class='date'>XXXXXXXXXXXXXXXXXXXXXX</span>
      <span class='circle'></span>
      <div class='content'>
        <h3>Software Developer</h3>
        <p style="line-height: 4px">
             <li >XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX.</li>
              <li >XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX.</li>
              <li >XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX.</li>
              <li >XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX.</li>
              <li >XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX.</li>      
        </p>
      </div>
    </li>
    
  </ul>


</div>
