<div class="container">
  <ul id='timeline'>
    <li class='entry'>
      <input checked='checked' class='radio' id='trigger5' name='trigger' type='radio'>
      <label for='trigger5'>
        <span>
          Beacon Health Options
        </span>
      </label>
      <span class='date'>January 2017 - Present</span>
      <span class='circle'></span>
      <div class='content'>
        <h3>Front-End Developer</h3>
        <p style="line-height: 4px">
          
              <li >Responsible for developing the application with Angular 2/4,
                 HTML5, CSS, LESS, Bootstrap.</li>
              <li >Developed Jersey RESTful (JAX-RS) Web Services.</li>
              <li>Developed Classes using JEE Design patterns </li>
              <li >Performed cross-browser testing to ensure Responsive Designing.</li>
              <li >Performed unit testing and integration
                  with Jasmine and Karma and load testing with JMeter.</li>
              <li>Performed source control and continuous integration using CVS and Hudson. </li>
          
          </p>
        
      </div>
    </li>
    
    <li class='entry'>
      <input class='radio' id='trigger4' name='trigger' type='radio'>
      <label for='trigger4'>
        <span>
          Triptage
        </span>
      </label>
      <span class='date'>April 2016 - December 2016</span>
      <span class='circle'></span>
      <div class='content'>
        <h3>Application Developer</h3>
        <p style="line-height: 4px">
            <li>Responsible for developing complete front-end application with AngularJS, HTML5, CSS3,
               PatternLab, etc.</li>
             <li>Created cross-browser compatible and standards-compliant CSS based page layouts.</li>
             <li>Created and deployed new features in order to sustain and amend existing application. </li>
             <li>Worked on fixing cross-browser compatibility issues.</li>
             <li>Performed usability testing and Ensured all code was validated by W3C accessible coding requirements. </li> 
             <li>Written unit test cases for both Java and UI components using JUnit, Karma and Jasmine.</li>       
        </p>
      </div>
    </li>
    <li class='entry'>
      <input class='radio' id='trigger3' name='trigger' type='radio'>
      <label for='trigger3'>
        <span>
          Nissan Motors
        </span>
      </label>
      <span class='date'>May 2014 - April 2015</span>
      <span class='circle'></span>
      <div class='content'>
        <h3>Software Developer</h3>
        <p style="line-height: 4px">
            <li >Responsible for the development of the customer web portal using C#.NET,JavaScript, XML and etc. </li>
             <li >Used 2-tier architecture with front-end (Presentation and Business) in C#, 
               and backend (SQL Server). </li>
             <li>Used C#.NET, data grids and XML to pull the data from the database and display it on the UI. </li>
             <li>Implemented page validation by using ASP.NET Validation controls and client-side JavaScript. </li>
             <li >Involved in requirement study, analysis, design, development and maintenance. </li>
             <li >Followed Agile methodologies(Scrum) and test driven development</li>        
        </p>
      </div>
    </li>
    
  </ul>


</div>